@import './utils/fonts';
@import './utils/constants';

@import './pages/home';
@import './pages/store';
@import './pages/checkout';
@import './pages/product';

@import './components/header';


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');;
}
  

body{
    font-family:Roboto!important;
}