$yellow_bs: #FAE053;
$yellow_bs_hover: #F9DF00;

$blue_bs: #236192;
$blue_bs_hover: #1A4C7B;

$skyblue_bs: #009AF0;
$skyblue_bs_hover: #0082D1;

$orange_bs: #ED8B00;
$orange_bs_hover: #E07A00;

$lavanda_bs: #C9A9F2;
$lavanda_bs_hover: #B58FF0;

$primary_font: 'Sequel';
$assetsPath: '../' !default;