#post-10{
    .entry-header{
        padding: 0!important;
        .entry-title{
            text-align: left;
        }
    }

    #billing_country_field{
        display: none!important;
    }

    .entry-content{
        input{
            background-color: white;
            box-shadow: none;
            border: 1px solid black;
            border-radius: 7px;
        }

        .select2.select2-container{
            width: 100%!important;
        }

        .select2.select2-container .select2-selection {
            padding: .6180469716em;
            border: 1px solid black;
            border-radius: 7px;
            height: 45px;
          }

        .select2.select2-container .select2-selection .select2-selection__rendered {
            color: black;
            line-height: 25px;
            padding-right: 33px;
        }

        .select2.select2-container .select2-selection .select2-selection__arrow {
            height: 32px;
            width: 33px;
          }
          
    }

}